body {
    margin: 0;
    padding: 0;
    background: rgb(222, 222, 231);
}

ul, li {
    list-style: none;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.clickable {
    cursor: pointer;
}

.formulario {
    margin-top: 100px;
    padding: 10px;
    font-size: 1.25em;
    text-align: center;
}

.formulario input {
    margin-top: 10px;
}

.deleteButton {
    color: white;
    font-weight: bold;
    background: darkred;
    margin-right: 10px;
    border-radius: 50%;
}